@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  font-size: 12px;
}

caption {
  caption-side: top !important;
}

.row {
  margin: 0 0 3rem -1rem;
}

.table-function, .title {
  display: flex;
  justify-content: space-between;
}

.table-function > div {
  height: 3rem;
  display: flex;
}

.table-function > div > * {
  height: 2.5rem;
  margin-right: 0.5rem;
}

.search-label {
  width: 110px;
}

.react-bs-table-csv-btn, .table-function > div > div > label {
  width: 70px;
  height: 2.5rem;
}

.table-function > div > *:last-child {
  margin-right: 0;
}

.import_file {
  display: none;
}

.delete_all {
  float: right;
}

.btn-block + .btn-block {
  margin-top: 0 !important;
  margin-left: 0.5rem;
}

.header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 24px;
  text-align: center;
  padding: 5px;
}

.content {
  width: 100%;
  padding: 10px 15px;
  line-height: 3;
}

.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
  display: flex;
}

.close {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 5px;
  top: 0px;
  font-size: 24px;
}